<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="false">
    <mat-toolbar class="font-weight-bold"><h2 class="gradient-text">CA 2020</h2></mat-toolbar>
    <mat-nav-list>

      <a mat-list-item routerLink="/" (click)="drawer.close()">🏠 Home</a>
      <a mat-list-item routerLink="/login" (click)="drawer.close()" *ngIf="!(afAuth.authState | async)">🔑 Login</a>
      <a mat-button routerLink="/login" *ngIf="afAuth.authState | async as user">
        😀 {{ user.displayName }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: transparent; z-index: 1000; position: absolute">
      <div class="top-menu" *ngIf="isHandset$ | async">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">


          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
      <div class="top-menu p-2" *ngIf="!(isHandset$ | async)">
        <h1 routerLink="/" class="font-weight-bolder">CA 2020</h1>
      </div>
      <span class="fill-space"></span>
      <div class="top-menu">
        <div *ngIf="!(isHandset$ | async)" class="float-left">

          <button mat-button routerLink="/login" *ngIf="!(afAuth.authState | async)" style="margin-top: 2px;">🔑 Login</button>
          <button mat-button routerLink="/login" *ngIf="afAuth.authState | async as user">
            😀 {{ user.displayName }}
          </button>
          <button mat-button routerLink="/stories" *ngIf="(afAuth.authState | async) && !hasStories">
            📖 Write
          </button>

        </div>

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="float-left">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>

      <mat-menu #menu="matMenu">
        <p class="font-weight-bold mb-1 pl-3">
          <span>Made by Caelin Sutch</span>
        </p>
        <a mat-menu-item href="https://caelinsutch.com">
          <i>🌐</i>
          <span>See my website</span>
        </a>
        <a mat-menu-item href="https://github.com/caelinsutch/ca-2020-stories">
          <i>💾</i>
          <span>Contribute on Github</span>
        </a>
        <a mat-menu-item href="mailto:caelinsutch@gmail.com">
          <i>✉️</i>
          <span>Send me a message :)</span>
        </a>
      </mat-menu>
    </mat-toolbar>

    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
