button {
  img {
    width: 1.25em;
  }
}


:host {
  text-align: center;
}

.logout {
  padding-top: 5em;
}

main {
  //background: linear-gradient(120.45deg, #181C43 6.81%, #3E4797 94.05%);
  background-image: url("~/assets/backgrounds.svg");
  object-fit: cover;
  width: 100%;
  height: 100%;
}

mat-card {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  border-radius: 40px;
}
