.center {
  padding-top: 30vh;
}

main {
  color: white;
  font-weight: bold;
}

h1 {
  font-size: 15em;
  line-height: normal !important;
}

h2 {
  font-size: 3em;
  line-height: normal !important;
}

h3 {
  font-size: 1em;
  line-height: normal !important;
}
