.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  display: inline-block;
  cursor: pointer; /* "hand" cursor */
  padding: 10px;
  border-radius: 4px;
  background-color: #8451e2;
}

img {
  display: block;
  width: 100%;
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}
