<mat-card class="mat-elevation-z10">
  <ng-content></ng-content>
  <div class="form" *ngIf="!(widgetLoading || loading)">
    <div *ngIf="isSignup">
      <h2>Create Account</h2>

      <button mat-stroked-button (click)="changeType('login')">
        Returning user?
      </button>
    </div>

    <div *ngIf="isLogin">
      <h2>Sign In</h2>
      <button size="small" mat-stroked-button (click)="changeType('signup')">
        New user?
      </button>
    </div>

    <div *ngIf="isPasswordReset">
      <h3>Reset Password</h3>
      <button size="small" mat-button (click)="changeType('login')">Back</button>
    </div>

    <div *ngIf="isUpdate">
      <h3>Update Account</h3>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field [color]="email.valid && 'accent'" *ngIf="!isUpdate">
        <input
          matInput
          formControlName="email"
          type="email"
          placeholder="Email"
          autocomplete="off"
        />

        <mat-error *ngIf="email.invalid && email.dirty">
          You must enter a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field [color]="name.valid && 'accent'" *ngIf="isSignup">
        <input
          matInput
          formControlName="name"
          type="text"
          placeholder="Name"
          autocomplete="on"
        />

        <mat-error *ngIf="name.invalid && name.dirty">
          You must enter a name
        </mat-error>
      </mat-form-field>

      <mat-form-field [color]="zipCode.valid && 'accent'" *ngIf="isSignup || isUpdate">
        <input
          matInput
          formControlName="zipCode"
          placeholder="Zip Code"
          autocomplete="off"
          type="number"
        />

        <mat-error *ngIf="zipCode.invalid && zipCode.dirty">
          You must enter a 5 character zipcode
        </mat-error>
      </mat-form-field>

      <mat-form-field [color]="school.valid && 'accent'" *ngIf="isSignup || isUpdate">
        <input
          matInput
          formControlName="school"
          placeholder="School"
          autocomplete="on"
        />

        <mat-error *ngIf="school.invalid && school.dirty">
          You must enter a school name
        </mat-error>
      </mat-form-field>

      <mat-form-field [color]="password.valid && 'accent'" *ngIf="!(isPasswordReset || isUpdate)">
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="Password"
          autocomplete="off"
        />

        <mat-error *ngIf="password.invalid && password.dirty">
          Password must be at least 6 characters long
        </mat-error>
      </mat-form-field>

      <mat-form-field
        [color]="passwordDoesMatch ? 'accent' : 'warn'"
        *ngIf="isSignup"
      >
        <input
          matInput
          formControlName="passwordConfirm"
          type="password"
          placeholder="Confirm password"
          autocomplete="off"
        />

        <mat-error *ngIf="passwordConfirm.dirty && !passwordDoesMatch">
          Password does not match
        </mat-error>
      </mat-form-field>

      <mat-checkbox
        formControlName="emailOptIn"
        *ngIf="isSignup"
      >Receive Emails from Us
      </mat-checkbox>

      <div class="upload-segment" *ngIf="isSignup || isUpdate">
        <h4>Upload a profile picture</h4>
        <app-uploader (file)="onProfileFile($event)" [id]="'profile'"></app-uploader>
        <h4 *ngIf="isUpdate">Current Profile Picture: </h4>
        <img [src]="currentUser.profileImage" mat-card-avatar alt="current profile picture" class="mx-auto"
             *ngIf="isUpdate">
      </div>

      <mat-error *ngIf="verificationWarnImage">
        You must upload a profile image!
      </mat-error>


      <div class="upload-segment" *ngIf="isSignup">
        <h4>Upload a photo of your ID card or some other identification to verify you're a 2020 California HS
          senior</h4>
        <app-uploader (file)="onVerificationFile($event)" [id]="'verification'"></app-uploader>
      </div>

      <mat-error *ngIf="verificationWarnImage">
        You must upload a verification image!
      </mat-error>

      <mat-error class="server-error">{{ serverMessage }}</mat-error>

      <button
        *ngIf="isPasswordReset"
        mat-stroked-button
        type="submit"
        [disabled]="loading"
      >
        Send Reset Email
      </button>

      <button
        *ngIf="!isPasswordReset"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid || !passwordDoesMatch || loading || !verificationImageAdded"
      >
        Submit
      </button>
    </form>


    <button
      mat-button
      *ngIf="isLogin && !isPasswordReset"
      (click)="changeType('reset')"
    >
      Forgot password?
    </button>

    <hr>

  </div>
  <div *ngIf="widgetLoading || loading" class="my-5 py-5">
    <mat-spinner diameter="50" class="mx-auto"></mat-spinner>
  </div>
</mat-card>
