
@import '~@angular/material/theming';
@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
@import './animate';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$custom-orange: (
  50 : #efe7fa,
  100 : #d6c2f2,
  200 : #bb9aea,
  300 : #9f72e1,
  400 : #8b53da,
  500 : #7635d4,
  600 : #6e30cf,
  700 : #6328c9,
  800 : #5922c3,
  900 : #4616b9,
  A100 : #f1ebff,
  A200 : #cbb8ff,
  A400 : #a585ff,
  A700 : #926cff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$custom-typography: mat-typography-config($font-family: 'Montserrat, sans-serif;');
@include mat-core($custom-typography);

$ca2020-primary: mat-palette($custom-orange);
$ca2020-accent: mat-palette($mat-blue, A200, A100, A400);

$ca2020-warn: mat-palette($mat-red);

$ca2020-theme: mat-light-theme($ca2020-primary, $ca2020-accent, $ca2020-warn);

@include angular-material-theme($ca2020-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Montserrat, Roboto, "Helvetica Neue", sans-serif; }

.gradient-button {
  background: linear-gradient(115.06deg, #6D11AE -1.78%, #012762 96.6%);
  box-shadow: 0 14px 34px rgba(71, 24, 148, 0.37);
  border-radius: 33px;
  padding: 20px;
  text-transform: uppercase;
  color: white !important;
  font-weight: bold;

  &:hover {
    box-shadow: 0 20px 45px rgba(71, 24, 148, 0.7);
  }
}

h1, h2, h3, h4, h5 {
  font-weight: bold !important;
}

.space-background {
  background-image: url("~/assets/backgrounds.svg");
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}

.py-6 {
  padding-bottom: 4rem;
  padding-top: 4rem;
}
