<main>
  <!--  TODO Make contianer-fluid -->
  <section class="top-container" [className]="containerFluid ? 'container-fluid' : 'container'">
    <div class="row">
      <div class="col-md-12 col-lg-7 pt-5 col-12 order-12 order-md-12 order-lg-1">

        <h1 class="title-text">CA 2020 Senior Stories</h1>
        <h3 class="subtitle-text mt-1">"Alone, we can do so little; together, we can do so much"</h3>
        <h5 class="quote-owner mb-1">- Helen Keller</h5>
        <p class="banner-main my-2">A compilation of stories from seniors across California about how COVID has impacted
          their life. </p>
        <button class="gradient-button mt-2" routerLink="/stories">Tell your story</button>
      </div>
      <div class="col-12 col-md-12 col-lg-5 order-1 order-md-1 order-lg-12 px-0">
        <img src="assets/bear-graphic.svg" class="img-responsive fit-image banner-image animated fadeIn" alt="">
      </div>
    </div>
  </section>
  <section class="container mt-5">
    <div class="row">
      <div class="search col-12" *ngIf="stories">
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="searchText"
            placeholder="Search by title or author"
            autocomplete="off"
            type="text">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <mat-spinner
        *ngIf="!stories"
        diameter="100"
        class="mx-auto"
      ></mat-spinner>
      <div *ngFor="let story of stories | StoryFilter : searchText"
           class="col-12 col-md-6 col-lg-4 mb-3 mb-lg-0 text-center">
        <div class="hvrbox" [routerLink]="['/stories', story.id]">
          <img [src]="story.image" alt="Story image">
          <div class="hvrbox-layer_top">
            <div class="hvrbox-text">
              {{ story.title }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
