<main class="container-fluid py-6 space-background">
  <mat-card class="text-center p-3">
    <div class="text-center">
      <h2>Reset Password</h2>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field [color]="email.valid && 'accent'">
        <input
          matInput
          formControlName="email"
          type="email"
          placeholder="Email"
          autocomplete="off"
        />

        <mat-error *ngIf="email.invalid && email.dirty">
          You must enter a valid email address
        </mat-error>
      </mat-form-field>

      <mat-error class="server-error">{{ serverMessage }}</mat-error>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="mt-2"
        [disabled]="form.invalid || loading"
      >
        Submit
      </button>
    </form>
  </mat-card>
</main>
